{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Infinite Scroll</title>
	<link rel="stylesheet" type="text/css" href="{% static 'mail/style.css' %}">
	<!-- <script src="https://code.jquery.com/jquery-1.6.4.js"></script> -->
	<script type="text/javascript" src="{% static 'mail/jquery-1.6.4.min.js' %}"></script>
</head>
<body>
	<div class="navbar">
		<a href="">Home</a>
		<a href="">About Us</a>
		<a href="">Contact Us</a>
	</div>
	<div id="pageseek" class="pageline"></div>
	<div class="scrollIndicator">
		<ul style="list-style: none; margin-left: -35px; margin-right: 20px;">
			<li id="window-scrolltop"></li>
			<li id="window-height"></li>
			<li id="document-height"></li>
		</ul>
		<span>Hover Me</span>
	</div>
	<div class="userData">
		{% for user in users %}
		<div class="info">
			<span class="userId">{{user.id}}</span>
			<span>Name: {{user.Name|slice:":6"}}</span><br>
			<span>Username: {{user.Username|slice:":6"}}</span><br>
			<span>Age: {{user.Age}}</span>
		</div>
		{% endfor %}
	</div>	
	<div id="loader" class="d-flex justify-center">
		<img width="30px" height="30px" src="{% static 'mail/Full snake.gif' %}">
	</div>
	<div onclick="document.documentElement.scrollTop = $(document).height() - 100;" title="Go to Top" id="go-to-top" class="downBtn">
		<img height="20px" width="25px" src="{%  static 'mail/long-arrow-up.png' %}">
	</div>

	<script>
		var block_request = false;
		var page = 3;
		var lastScrollTop = 0, delta = 5;
		$(window).scroll(function() {
			if ($(window).scrollTop() == 0) {
				$(".navbar").removeClass('p-fixed');
			}	
			var nowScrollTop = $(window).scrollTop();
			if(Math.abs(lastScrollTop - nowScrollTop) >= delta){
				if (nowScrollTop > lastScrollTop){
					$(".navbar").removeClass('p-fixed')
				} else {
					if ($(window).scrollTop() > 200) {
						$(".navbar").addClass('p-fixed');
					}
				}
				lastScrollTop = nowScrollTop;
			}
			$("#window-scrolltop").html(`Scroll from Top: ` + Math.trunc($(window).scrollTop()));
			$("#window-height").html(`Window height: ` + $(window).height());
			$("#document-height").html(`Document height: ` +$(document).height());
			if ($(window).scrollTop() > 600) {
				$('#go-to-top').removeClass('downBtn');
				$('#go-to-top').addClass('topBtn');
				$('#go-to-top').click(function() {
					document.documentElement.scrollTop = 0;
				});
			}
			else {
				$('#go-to-top').removeClass('topBtn');
				$('#go-to-top').addClass('downBtn');
				$('#go-to-top').click(function() {
					document.documentElement.scrollTop = $(document).height() - 100;
				});
			}
			if ($(document).scrollTop() <= $(window).height()) {
				var position = $(document).scrollTop();
			}
			else {
				var position = $(document).scrollTop() + $(window).height();
			}
			var widthPercent = ((position) / $(document).height())*100;
			$("#pageseek").css('width', `${widthPercent}%`);
			var margin = $(document).height() - $(window).height() - 200;
		    if($(window).scrollTop() > margin && block_request == false) {
		   		block_request = true;
		   		page += 1;
		   		$.getJSON(`${window.location.protocol.replace(/:/g,'')}://{{request.get_host}}/infiniteJson/?page=${page}`, function(data){
		   			if (data.page == 'empty') {
		   				endData = '<h3>You have scrolled enough our server is tired.</h3>';
		   				$("#loader").html(endData);
		   			}
		   			else {
		   				dataDiv = document.querySelector('.userData');
		   				for (const obj of data) {
		   					let content = document.createElement('div');
		   					content.className = "info animate";
		   					name = obj.fields.Name;
		   					username = obj.fields.Username;
		   					data = `<span class="userId">${obj.pk}</span>
		   							<span>Name: ${name.substring(0,6)}</span><br>
									<span>Username: ${username.substring(0,6)}</span>
									<br><span>Age: ${obj.fields.Age}</span>`;
							content.innerHTML = data;
							dataDiv.append(content);
							block_request = false;
		   				}
		   			}
	  			});       
		   }
		});
	</script>
</body>
</html>